{% if request.user.is_authenticated %}

    <form method="post" action="{% url 'auth:logout' %}" class="inline">
        {% csrf_token %}
        <button type="submit"
                class="text-green-900 hover:text-black transition-colors duration-300 pb-3 md:p-0">Logout</button>
    </form>
{% else %}
    <div class="flex gap-4 md:gap-6 lg:gap-8 justify-between flex-row items-center">
        <a href="{% url 'auth:login' %}"
           class="text-green-900 hover:text-black transition-colors duration-300 pb-3 md:p-0">Sign in</a>
        <a href="{% url 'auth:register' %}"
           class="bg-green-900 text-white rounded hover:bg-green-700 transition-all duration-300 p-2 mb-1 md:m-0">Get Started</a>
    </div>

{% endif %}
