<li class="list-none pb-3 md:py-6 relative group transform transition-all duration-300 ease-in-out">
    <a class="transition-all duration-300 group-hover:font-semibold" href="">Features</a>
    <div class="absolute bottom-0 left-0 w-0 h-1 bg-green-900 group-hover:w-full transition-all duration-300"></div>
</li>
<li class="list-none pb-3 md:py-6 relative group transform transition-all duration-300 ease-in-out">
    <a class="transition-all duration-300 group-hover:font-semibold" href="">Pricing</a>
    <div class="absolute bottom-0 left-0 w-0 h-1 bg-green-900 group-hover:w-full transition-all duration-300"></div>
</li>
<li class="list-none pb-3 md:py-6 relative group transform transition-all duration-300 ease-in-out">
    <a class="transition-all duration-300 group-hover:font-semibold" href="">Templates</a>
    <div class="absolute bottom-0 left-0 w-0 h-1 bg-green-900 group-hover:w-full transition-all duration-300"></div>
</li>
<li class="list-none pb-3 md:py-6 relative group transform transition-all duration-300 ease-in-out">
    <a class="transition-all duration-300 group-hover:font-semibold" href="">Contact</a>
    <div class="absolute bottom-0 left-0 w-0 h-1 bg-green-900 group-hover:w-full transition-all duration-300"></div>
</li>
