{% extends "layouts/base.html" %}

{% load static %}

{% block title %}

    Readme Gen

{% endblock title %}

{% block content %}

    <main>
        <div class="flex justify-center items-center min-h-screen bg-gradient-to-tl from-green-200/25 via-slate-150/50 to-green-200/55">
            <div class="container mx-auto px-3 sm:px-0 flex justify-center items-center md:justify-between h-full flex-col-reverse md:flex-row gap-y-10 md:gap-2">
                <!-- Left content -->
                <div class="h-1/2 flex flex-col justify-center items-center text-center">
                    <h1 class="text-green-900 font-bold text-5xl md:text-6xl mb-6 md:mb-3">Create Readme Files</h1>
                    <p class="mb-3">
                        Genenrate professional readme files for your project without our initiative drag and drop builder and also view our templates.
                    </p>
                    <div class="my-4">
                        <button class="animate-float">
                            <a href="{% url 'readme:create_readme_file' %}"
                               class="p-2 rounded bg-green-900 text-white hover:bg-green-600 transition-all duration-100">Start Building <i class="fa-solid fa-arrow-right"></i></a>
                        </button>
                        <a href=""
                           class="p-2 rounded border border-green-900 hover:bg-green-900 hover:text-white transition-all duration-300">Explore Templates</a>
                    </div>
                </div>
                <!-- Image container -->
                <div class="flex justify-center items-center">
                    <img src="{% static 'media/images/Readme2.svg' %}"
                         class="max-w-[60%]"
                         alt="readme svg" />
                </div>
            </div>
        </div>
        <div class="container mx-auto px-3 sm:px-0 my-6 flex justify-center items-center flex-col gap-6">
            <h2 class="font-semibold text-2xl text-center">Choose your way to create readme files</h2>

            {% include 'partials/home/build_type.html' %}

        </div>
        <hr />

        {% include 'partials/home/signup_helper.html' %}

    </main>

{% endblock content %}
