{% extends "layouts/base.html" %}

{% load static %}

{% block title %}

    Readme Gen

{% endblock title %}

{% block content %}

    <main class=" flex justify-center items-center min-h-[90vh]">
        <div class="container mx-auto px-3 sm:px-0 flex justify-center items-center md:justify-between h-full flex-col-reverse md:flex-row gap-y-10 md:gap-2">
            <!-- Left content -->
            <div class="h-1/2 flex flex-col justify-center items-center text-center">
                <h1 class="text-green-900 font-bold text-5xl md:text-6xl mb-6 md:mb-3">Create Readme Files</h1>
                <p class="mb-3">
                    Genenrate professional readme files for your project without our initiative drag and drop builder and also view our templates.
                </p>
                <div class="my-4">
                    <button class="animate-float">
                        <a href=""
                           class="p-2 rounded bg-green-900 text-white hover:bg-green-600 transition-all duration-100">Start Building <i class="fa-solid fa-arrow-right"></i></a>
                    </button>
                    <a href=""
                       class="p-2 rounded border border-green-900 hover:bg-green-900 hover:text-white transition-all duration-300">Explore Templates</a>
                </div>
            </div>
            <!-- Image container -->
            <div class="flex justify-center items-center">
                <img src="{% static 'media/images/home.png' %}"
                     class="max-w-[60%]"
                     alt="readme svg" />
            </div>
        </div>
    </main>

{% endblock content %}
