{% load static tailwind_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <title>

            {% block title %}

            {% endblock title %}

        </title>
        {% tailwind_css %}
        <link href="{% static 'fontawesomefree/css/all.min.css' %}"
              rel="stylesheet"
              type="text/css" />
        <style>
            @keyframes float {
                0% {
                    transform: translateY(10px);
                }

                50% {
                    transform: translateY(-10px);
                }

                100% {
                    transform: translateY(10px);
                }
            }

            .animate-float {
                animation: float 3s ease-in-out infinite;
            }
        </style>
    </head>
    <body>
        <div>

            {% include 'utility/navbar/navbar.html' %}

            {% block content %}

            {% endblock content %}

            {% comment %}
            {% include  'layouts/footer.html' %}

            {% endcomment %}
        </div>

        {% block scripts %}

        {% endblock scripts %}

        <!-- Fontawsome js -->
        <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
        <!-- Custom js -->
        <script>
            function toggleMobileMenu() {
                const mobileMenu = document.getElementById('mobile-menu');
                const menuItems = mobileMenu.querySelectorAll('li', 'a');

                if (mobileMenu.classList.contains('h-0')) {
                    mobileMenu.classList.remove('h-0', 'opacity-0');
                    mobileMenu.classList.add('h-auto', 'opacity-100', 'py-4');
                } else {
                    mobileMenu.classList.add('h-0', 'opacity-0');
                    mobileMenu.classList.remove('h-auto', 'opacity-100', 'py-4');
                }
            }
        </script>
    </body>
</html>
