<footer class="container mx-auto px-3 py-3 sm:px-0 bg-gradient-to-bl from-green-600 via-emerald-400 to-teal-300 hover:from-teal-600 hover:via-green-400 hover:to-emerald-300 transition-all duration-500">
    <div class="flex flex-col md:flex-row justify-between items-start md:items-center">
        <div>
            <!-- Logo -->

            {% include 'layouts/navbar/logo.html' %}

            <p>Create detailed documentation with ease.</p>
        </div>
        <div class="flex flex-col gap-4">
            <!-- Navigation links -->
            <a href="">Features</a>
            <a href="">Template</a>
            <a href="">Pricing</a>
            <a href="">Contact</a>
        </div>
        <div class="flex flex-row gap-4">
            <!-- Social media links -->

            {% include 'layouts/social_media_links.html' %}

        </div>
    </div>
</footer>
