<div class="flex flex-col">
    <div class="bg-gradient-to-tl from-green-200/25 via-slate-150/50 to-green-200/55">
        <footer class="container mx-auto px-3 sm:px-0 py-6">
            <div class="flex flex-col md:flex-row justify-between items-start">
                <div class="col-span-12 md:col-span-4 border-b border-gray-300 md:border-none w-full flex justify-start items-center pb-3 md:pb-0">
                    <div>
                        <div class="mb:!mt-[-13px]">

                            {% include 'partials/navbar/logo.html' %}

                        </div>
                        <p class="!mt-[-13px] text-sm">Create detailed documentation with ease.</p>
                    </div>
                </div>
                <div class="flex flex-col justify-center items-start md:items-center gap-4 col-span-12 md:col-span-4 w-full border-b border-gray-300 md:border-none py-3 md:py-0">
                    <div class="text-start text-sm flex flex-col gap-2">
                        <h2 class="text-green-900 font-semibold !text-base">Navigation Links</h2>
                        <a href="" class="hover:text-green-900 transition-colors duration-200">Features</a>
                        <a href="" class="hover:text-green-900 transition-colors duration-200">Template</a>
                        <a href="" class="hover:text-green-900 transition-colors duration-200">Pricing</a>
                        <a href="" class="hover:text-green-900 transition-colors duration-200">Contact</a>
                    </div>
                </div>
                <div class="flex flex-row gap-4 col-span-12 md:col-span-4 w-full justify-start items-center md:justify-end py-3 md:py-0">
                    <div class="flex flex-col gap-y-3">
                        <h2 class="text-green-900 font-semibold !text-base">Connect with us</h2>

                        {% include 'layouts/social_media_links.html' %}

                    </div>
                </div>
            </div>
        </footer>
    </div>
    <div class="bg-green-900 text-white py-2 text-sm text-center">
        <p>
            © 2025 Readme Gen. All rights reserved. Built by <a href="https://github.com/tariqjamal057"
    target="_blank"
    class="font-semibold text-green-100">Tariq Jamal A</a>
        </p>
    </div>
</div>
