<div class="flex gap-4">
    <a href=""><i class="hover:text-green-900 transition-colors duration-200 fa-brands fa-facebook"></i></a>
    <a href=""><i class="hover:text-green-900 transition-colors duration-200 fa-brands fa-instagram"></i></a>
    <a href=""><i class="hover:text-green-900 transition-colors duration-200 fa-brands fa-linkedin"></i></a>
    <a href=""><i class="hover:text-green-900 transition-colors duration-200 fa-brands fa-github"></i></a>
    <a href=""><i class="hover:text-green-900 transition-colors duration-200 fa-brands fa-whatsapp"></i></a>
</div>
